<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <h1>Query search</h1>

    <form action="/search/" method="POST">
        <div class="form-group">
            <label for="repoName">Search by repo name</label>
            <input name="repoName" type="text" class="form-control" id="repoName" placeholder="Enter repository name">
        </div>
        <button value="Search" type="submit" class="btn btn-primary">Search !</button>
    </form>

</body>